<!DOCTYPE html>
<html lang="en" xmlns="http://www.thmeleaf.org" th:replace="user/base::Layout(~{::section})" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section >
        <div class="container">
         <div class="row">
             <div class="col-md-12-">
                 <div class="card">
                     <div class="card-body">
                         <h3 class="my-3">Change Password</h3>
                        <form action="#" th:action="@{/user/change-password}" class=""
                         method="post" >
    
    
                             <div class="form-group m-2">
                                 <input type="password" 
                                 name="oldPassword"
                                 class="form-control" 
                                 placeholder="Enter your Old Password"/>
                             </div>
    
    
                             <div class="form-group m-2">
                                 <input type="password"
                                 name="newPassword"
                                  class="form-control" 
                                  placeholder="Enter your New  Password"/>
    
                             </div>

                             <div class="container text-center">

                                <button  type="submit" class="btn btn-success">Change</button>
                                <button type="reset" class="btn btn-danger">Reset</button>

                             </div>
                         </form>
                     </div>
    
                 </div>
             </div>
         </div>
        </div>
     </section>
</body>
</html>

