body{
    background-color: #e2e2e2 !important;
    font-family: Georgia, Times New Roman, Times, serif;
}
/* #banner{
    width: 100%;
    height: 100vh;
    color: white;
    background: linear-gradient(rgba(0,0,0,.8),rgba(0,0,0,.8)),url("../image/banner.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:initial;
    background-position:top; 
}*/


.primary{
    background: 	#c6cdd4;
    -webkit-text-stroke-color: #000;
   
}
.user-navbar
{
    background-color: whitesmoke;
    -webkit-text-stroke-color: #000;
    
    position: relative;
}
.user-navbar .brand-navbar img:hover
{
    opacity: 0.5;
}
.user-navbar ul
{
padding: 0px 30px 0px 0px;
}
.user-navbar ul li a{
    color: black;
    margin: 10px 0px 0px 10px;
    text-transform: uppercase;
    font-size: 12px;
}
.user-navbar ul li a .fas{
    padding-right:5px; 
    padding-left:5px; 
}
.user-navbar ul li a:hover{
    color: #15b000;
}
.user-navbar ul li.active > a {
    color: #15b000;
    font-weight: bold;
    font-size: 16px;
    border-left: 5px solid #15b000;
    border-radius: 50px;
}
.iconStyle
{
    color: #15b000;
}
.message{
    margin-top: 10px !important;
    font-size: 20px;

}
@media screen and (max-width:600px)  {
    .sidebar{
        display: none;
        width: 80% !important;
        background: #303f9f ;
        height: 100vh;
        position: fixed;
        padding-top: 20px;
      

        
        

    }
    .content{
        margin-left: 0% !important;
    }
    
}

.sidebar{
    width: 20%;
    background: #303f9f;
    position:fixed;
    height: 100%;
    padding-top: 45px;
    z-index: 9999999999999999999;
   
}
.sidebar a{
    display: block;
    width: 100%;
    text-decoration: underline;
    padding: 20px;
    color: #e2e2e2;
    text-transform:capitalize;
   
}
.sidebar a:hover{
    background-color: #5c6bc0;
}
.sidebar .divider{
    height: .5px;
    width: 100%;
    background: #e2e2e2;
    margin-top: 10px;
}

.sidebar .cross-btn{
    position: absolute;
    top: 0;
    right: 35px;
    font-size: 35px;
    cursor: pointer;
    color: #e2e2e2;
}

.content{
    margin-left: 25%;
}
.banner{
    width: 100%;
    height: 100vh;
    background: url("../image/banner.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;
    background-position:top; 
}



.main-head{
    height: 150px;
    background: #FFF;
   
}

.sidenav {
    height: 100%;
    background-color:#303f9f;
    overflow-x: hidden;
    padding-top: 20px;
   
}


.main {
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
}

@media screen and (max-width: 450px) {
    .login-form{
        margin-top: 10%;
    }

    
}

@media screen and (min-width: 768px){
    .main{
        margin-left: 40%; 
    }

    .sidenav{
        width: 40%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
    }

    .login-form{
        margin-top: 50%;
    }

   
}


.login-main-text{
    margin-top: 20%;
    padding: 60px;
    color: #fff;
}

.login-main-text h2{
    font-weight: 300;
}

.btn-black{
    background-color: #000 !important;
    color: #fff;
}
.card{
    background-color: #ffb74d;
    transition: color .9s ease-in-out, border-color .8s ease-in-out;
    &:hover {
        color: black;			
        border-color: #ff9900;
    }
  
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.30) 0px 54px 55px, rgba(0, 0, 0, 0.20) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.profile_pic{
    width: 35px;
    height: 35px;
    object-fit: cover;
    border-radius: 50%;
}

.search-container{
    position: relative;

}
.search-result{
    position: absolute;
    width: 100%;
    background: white;
    padding: 10px;
    border: 1px solid gray;
    display: none;
}

.active{
    background: #5c6bc0;
    color: white;
}

.btn {
    transition: transform 250ms, opacity 400ms;
    will-change: transform;
  }
  .btn:hover {
    transform: scale(1.3);
    opacity: 400ms;
  }

  .nav-link,.navbar-brand {
    transition: transform 250ms, opacity 400ms;
    will-change: transform;
  }
  .nav-link:hover,.navbar-brand:hover {
    transform: scale(1.3);
    opacity: 400ms;
  }

